{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'accueil_etudiant' %}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mon profil</li>
    </ol>

{% endblock breadcrumb %}

{% block content %}
    <h2 class="mb-4">Modifier mes informations</h2>

    <!-- Formulaire pour la modification d'un étudiant -->
    <form method='POST' enctype='multipart/form-data' class="form p-4 shadow-sm bg-light rounded">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock content %}