{% extends "base2.html" %}
{% load static %}

{% block content %}

<style>
    /* Styles spécifiques pour le mode sombre */
    html[data-bs-theme="dark"] table {
        width: 100%;
        border-collapse: collapse;
    }

    html[data-bs-theme="dark"] th, html[data-bs-theme="dark"] td {
        padding: 8px 12px;
        text-align: left;
        border: 1px solid #444; /* Bordure plus sombre */
        color: #e0e0e0; /* Texte clair */
    }

    html[data-bs-theme="dark"] thead {
        background-color: #222; /* Arrière-plan sombre pour l'en-tête */
        color: #e0e0e0; /* Texte clair */
    }

    html[data-bs-theme="dark"] tbody tr:nth-child(even) {
        background-color: #333; /* Alternance des lignes plus sombre */
    }

    html[data-bs-theme="dark"] tbody tr:hover {
        background-color: #444; /* Couleur de survol légèrement plus foncée */
    }
    .search-input {
        margin-right: 7px;
    }
</style>

<form id="search-form" class="form" method='get'>
    <div class="row">
        <select name="classe" id="choix-classe" class="col-md-3 search-input" onchange="selectClasse()">
            <option disabled selected>Choisir une classe</option>
            {% for classe in classes %}
                <option value="{{classe}}" {% if classe == selected_classe %}selected{% endif %}>{{classe}}</option>
            {% endfor %}
        </select>
        <select name="annee" class="col-md-3 search-input" onchange="this.form.submit()">
            <option disabled selected>Choisir une année</option>
            {% for annee in annees %}
                <option value="{{annee}}" {% if annee == selected_annee %}selected{% endif %}>{{annee}}</option>
            {% endfor %}
        </select>
        <select name="statut" class="col-md-3 search-input" onchange="this.form.submit()">
            <option disabled selected>Choisir un statut</option>
            {% for statut in statuts %}
                <option value="{{statut}}" {% if statut == selected_statut %}selected{% endif %}>{{statut}}</option>
            {% endfor %}
        </select>
    </div>
    <a href="{% url 'liste_etudiants' %}" class="btn btn-primary btn-sm float-end"> Effacer</a>
</form><br><br>
<a href="{% url 'ajouter_etudiant' %}" class="btn btn-success btn-sm float-end"><i class="fa fa-plus-circle"></i> Ajouter un étudiant</a>

{% for classe, eleves in etudiants.items %}
<div id="{{classe}}" class="groupe-classe" style="margin-bottom:10%;">
    <div class="row">
        <div class="col-md-12">
            <h2 class="d-inline">Liste des étudiants de {{classe}}</h2>
            <button class="btn btn-success btn-sm d-inline" style="margin-bottom:7px;padding:2px;margin-left:10px;" onclick="telechargerTable('{{classe}}')">Télécharger</button>
            <a href="{% if classe in cycle1 %}#upgrade_classe_modal-{{classe}}{% else %}#graduate_classe_modal-{{classe}}{% endif %}" matricule="{{eleve.pk}}" class="btn btn-info btn-sm d-inline" style="margin-bottom:7px;padding:3px;margin-left:10px;color:white;" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Faire passer au niveau supérieur ou diplômer les étudiants de {{classe}}" >Upgrade classe</a>
        </div>
    </div>
    <!-- Modal for upgrade classe -->
    <div class="modal fade" id="upgrade_classe_modal-{{classe}}">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="upgradeclasseModalLabel-{{classe}}">Admission de la classe au niveau supérieur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Faire passer tous les étudiants au niveau supérieur à l'exception de : <br><br>
                    <form class="form" method="POST" id="upgradeClasseForm-{{classe}}" action="{% url 'upgrade_classe' %}">
                        {% csrf_token %}
                        <!-- Attention: on affiche pas la zone de saisie pour la classe, mais sa valeur est utilisée dans la view de traitement -->
                        <input name="classe" class="form-control" value="{{classe}}" style="display:none;">
                        <select name="exclude_students" type="checkbox" class="form-control" id="" multiple>
                            <option selected disabled>Sélectionner les étudiants non concernés</option>
                            {% for eleve in eleves %}
                                <option value="{{eleve.pk}}">{{eleve.name}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" onclick="document.getElementById('upgradeClasseForm-{{classe}}').submit()" >Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for graduate classe -->
    <div class="modal fade" id="graduate_classe_modal-{{classe}}">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="graduateclasseModalLabel-{{classe}}">Diplômation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Diplômer tous les étudiants à l'exception de: <br><br>
                    <form class="form" method="POST" id="diplomeClasseForm-{{classe}}" action="{% url 'upgrade_classe' %}">
                        {% csrf_token %}
                         <!-- Attention: on affiche pas la zone de saisie pour la classe, mais sa valeur est utilisée dans la view de traitement -->
                        <input name="classe" class="form-control" value="{{classe}}" style="display:none;">
                        <select name="exclude_students" type="checkbox" class="form-control" id="" multiple>
                        <option selected disabled>Sélectionner les étudiants non concernés</option>
                            {% for eleve in eleves %}
                                <option value="{{eleve.pk}}">{{eleve.name}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" onclick="document.getElementById('diplomeClasseForm-{{classe}}').submit()" >Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Année Scolaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for eleve in eleves %}
            <tr>
                <td>{{eleve.pk}}</td>
                <td>{{eleve.name}}</td>
                <td>{{selected_annee|default:eleve.annee_scolaire_en_cours}}</td>
                <td>
                    <a href="{% url 'detail_etudiant' eleve.pk %}" class="btn btn-info btn-sm" data-bs-toggle="tooltip" title="Plus de détail sur {{eleve.name}}" >Voir</a>
                    <a href="{% url 'modifier_etudiant' eleve.pk %}" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" title="Modifier les informations de {{eleve.name}}" >Modifier</a>
                    <a href="{% url 'send_message' eleve.pk %}" class="btn btn-success btn-sm" data-bs-toggle="tooltip" title="Envoyer un message à {{eleve.name}}" >Message</a>
                    <a href="#delete_modal-{{eleve.pk}}" matricule="{{eleve.pk}}" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Supprimer {{eleve.name}} de la base" >Supprimer</a>
                    <a href="{% if classe in cycle1 %}#upgrade_modal-{{eleve.pk}}{% else %}#diplome_modal-{{eleve.pk}}{% endif %}" matricule="{{eleve.pk}}" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Faire passer {{eleve.name}} en classe supérieur ou signaler qu'il a obtenu son diplôme" >Upgrade</a>
                </td>
                <!-- Modal for suppression -->
                <div class="modal fade" id="delete_modal-{{eleve.pk}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel-{{eleve.pk}}">Confirmation de suppression</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment supprimer l'étudiant {{eleve.name}} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{% url 'delete_etudiant' eleve.pk %}" class="btn btn-danger">Confirmer la suppression</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for upgrade -->
                <div class="modal fade" id="upgrade_modal-{{eleve.pk}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="upradeModalLabel-{{eleve.pk}}">Admission en classe supérieure</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment admettre l'étudiant {{eleve.name}} en classe supérieure ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{% url 'upgrade_etudiant' eleve.pk %}" class="btn btn-success">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal for diploma -->
                <div class="modal fade" id="diplome_modal-{{eleve.pk}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="diplomeModalLabel-{{eleve.pk}}">Diplomation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Voulez-vous vraiment diplômer l'étudiant {{eleve.name}} ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <a href="{% url 'upgrade_etudiant' eleve.pk %}" class="btn btn-success">Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </tr> 
            {% empty %}
                <tr>
                    <td colspan="4">Aucun étudiant trouvé dans la base</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
</div>   
{% endfor %}

<!-- Inclure la bibliothèque SheetJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<!-- script pour initialiser les tooltips (messages qui apparaissent quand on survole un element) -->
<script src="{% static 'javascript/tooltip.js' %}" ></script>

<!-- Inclure la bibliothèque excelJS pour générer des fichiers Excel avec mise en forme des cellules-->
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script src="{% static 'javascript/telecharger_liste_classe.js' %}"></script>


<script>
    function ActiveLink() {
        var notesLink = document.getElementById('etudiants');
        notesLink.classList.add('active');
    }
    ActiveLink();
</script>

<script>
    function selectClasse() {
        classe = document.getElementById('choix-classe').value;
        groupe_classe = document.querySelectorAll('.groupe-classe');

        groupe_classe.forEach(function(groupe) {
            groupe_id = groupe.getAttribute('id');
            if (classe === groupe_id) {
                console.log(classe);
                groupe.style.display = 'block';
            } else {
                groupe.style.display = 'none';
            }
        });
    }
</script>

{% endblock content %}
