{% extends "base2.html" %}
{% load static %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'accueil_responsable' %}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Messages</li>
    </ol>

{% endblock breadcrumb %}


{% block content %}

<div class="container mt-4">
    <h2>Consultez les messages envoyés ou envoyez de nouveaux</h2><br><br>

    <!-- Section de recherche -->
    <div class="search-section mb-4">
        <form method="GET" action="">
            <div class="row">
                <div class="col-md-2">
                    <input type="text" name="content" class="form-control" placeholder=" par classe" id="search_classe">
                </div>
                <div class="col-md-2">
                    <input type="text" name="content" class="form-control" placeholder=" par étudiant" id="search_student">
                </div>
                <div class="col-md-2">
                    <input type="text" name="content" class="form-control" placeholder=" par sujet" id="search_subject">
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" class="form-control" placeholder=" par date" id="search_date">
                </div>
            
                <div class="col-md-2 text-end">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>

                <a href="{% url 'new_message' %}" class="btn btn-success btn-sm float-end col-md-2"><i class="fa fa-plus-circle"></i> Nouveau message</a>
            </div>
        </form>

        
    </div>

    <!-- Liste des messages -->
    <div class="message-list">
        {% for message in messages_envoyes %}
        <div class="card message-card mb-3 box-message" data-date="{{message.created_at|date:'Y-m-d'}}" data-sujet="{{message.sujet}}" data-classe="{{message.etudiant.classe.name}}" data-name="{{message.etudiant.name}}" data-matricule="{{message.etudiant.pk}}">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{message.etudiant.classe}}--{{ message.etudiant.name }}  ({{ message.etudiant.pk }})</strong> - <small>{{ message.created_at }}</small>
                </div>
                <div class="message-actions">
                    <button class="btn btn-sm btn-success open-btn" data-bs-toggle="modal" data-bs-target="#messageModal{{ message.id }}"  data-id="{{message.id}}" >
                        Ouvrir
                    </button>
                    
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{message.id}}">Supprimer</button>
                </div>
            </div>
            <div class="card-body">
                <p  title="A {{message.etudiant.name}}" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-content="{{message.message}}">{{ message.sujet|truncatewords:10 }}</p>
            </div>
        </div>

        <!-- Modal pour les options de suppression -->
        <div class="modal fade" id="deleteModal{{ message.id }}" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Que voulez vous faire ? </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <a class="btn btn-sm btn-warning" href="{% url 'responsable_cacher_message' message.id %}"><strong>Supprimer pour moi</strong></a>
                        <a class="btn btn-sm btn-danger" href="{% url 'responsable_delete_message' message.id %}"><strong>Supprimer pour tout le monde</strong></a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal pour afficher le message complet -->
        <div class="modal fade" id="messageModal{{ message.id }}" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageModalLabel">Envoyé à {{ message.etudiant.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ message.message }}</p> <br>
                        {% if message.fichier_joint.all %}
                            <strong>Fichiers joints</strong><hr>
                            {% for fichier_joint in message.fichier_joint.all %}
                                <strong> {{fichier_joint.fichier.name}}</strong> ({{fichier_joint.fichier.size}} Octets) <a href="{% url 'ouvrir_fichier' fichier_joint.id %}" class="btn btn-sm btn-primary">Ouvrir</a> <a href="{% url 'enregistrer_fichier' fichier_joint.id %}"  class="btn btn-sm btn-success">Télécharger</a><hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{message.id}}">Supprimer</button>
                        
                    </div>
                </div>
            </div>
        </div>

        

        {% empty %}
            <p class="text-center">Aucun message disponible</p>
        {% endfor %}
    </div>
</div>

<style>
    .message-card {
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .message-actions {
        display: flex;
        gap: 10px; /* espace entre les éléments enfants */
    }
    .message-actions button {
        padding: 5px 10px;
    }
</style>
</div>

<script>
    function ActiveLink(){
        var messagesLink = document.getElementById('messages')
        messagesLink.classList.add('active')
    }

    ActiveLink()
</script>

<!-- script pour les popover qui s'affiche quand le curseur est sur un message -->
<script src="{% static 'javascript/popover.js' %}"></script>

<script src = "{% static 'javascript/search_responsable.js' %}"></script>

{% endblock content %}