{% extends "base2.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/etudiant.css' %}">
{% endblock extra_styles %}

{% block content %}
<style>
    /* Styles spécifiques pour le mode sombre */
    html[data-bs-theme="dark"] table {
        width: 100%;
        border-collapse: collapse;
    }

    html[data-bs-theme="dark"] th, html[data-bs-theme="dark"] td {
        padding: 8px 12px;
        text-align: left;
        border: 1px solid #444;
        color: #e0e0e0;
    }

    html[data-bs-theme="dark"] thead {
        background-color: #222;
        color: #e0e0e0;
    }

    html[data-bs-theme="dark"] tbody tr:nth-child(even) {
        background-color: #333;
    }

    html[data-bs-theme="dark"] tbody tr:hover {
        background-color: #444;
    }

    .search-input {
        margin-right: 7px;
    }
</style>

<div style="display: flex; justify-content: space-between; align-items: center;">
    
    <form method="get" class="form">
        <div class="row">
            <!-- Menu déroulant pour sélectionner la classe -->
            <select name="classe_name" id="classe" class="col-md-3 search-input" onchange="document.getElementById('etudiant').value='';document.getElementById('annee_scolaire').value='';this.form.submit()">
                <option disabled selected>Choisir classe</option>
                {% for classe in classes %}
                    <option value="{{ classe }}" {% if classe == selected_classe %}selected{% endif %}>
                        {{ classe }}
                    </option>
                {% endfor %}
            </select>
            <!-- Menu déroulant pour sélectionner l'étudiant -->
            <select name="etudiant_id" id="etudiant" class="col-md-3 search-input" onchange="document.getElementById('annee_scolaire').value='';this.form.submit()">
                <option disabled selected>Choisir un étudiant</option>
                {% for etudiant in etudiants %}
                    <option value="{{ etudiant.pk }}" {% if etudiant == selected_etudiant %}selected{% endif %}>
                        {{ etudiant.name }}
                    </option>
                {% endfor %}
            </select>
            <!-- Menu déroulant pour sélectionner l'année scolaire -->
            <select name="annee_scolaire" id="annee_scolaire" class="col-md-3 search-input" onchange="this.form.submit()">
                <option disabled selected>Choisir une année scolaire</option>
                {% for annee in annees_scolaires %}
                    <option value="{{ annee }}" {% if annee == selected_year %}selected{% endif %}>
                        {{ annee }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <!-- Bouton pour télécharger les informations en Excel -->
    <button id="telechargerExcelBtn" class="btn btn-success" style="margin-bottom: 7px;">Télécharger en Excel</button>
</div>



<table class="table-bordered">
    <thead>
        <tr>
            <th style="color:blue;">Matricule</th>
            <th style="color:blue;">Nom</th>
            <th style="color:blue;">Classe</th>
            <th style="color:blue;">Année scolaire</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if selected_etudiant %}
                <td>{{ selected_etudiant.pk }}</td>
                <td>{{ selected_etudiant.name }}</td>
                <td>{{ classe_annee|default:selected_etudiant.classe }}</td>
                <td>{{ selected_year }}</td>
            {% else %}
                <td colspan="4">En attente de sélection</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<h3>Semestre 1</h3>
<table id="tableSemestre1" class="table-bordered">
    <thead>
        <tr>
            <th>Matière</th>
            <th>Crédit</th>
            <th>Note 1</th>
            <th>Note 2</th>
        </tr>
    </thead>
    <tbody>
        {% for matiere, notes in notes_semestre1.items %}
            <tr>
                <td>{{ matiere.name }}</td>
                <td>{{ matiere.credit }}</td>
                <td>{{ notes.0 }}</td>
                <td>{{ notes.1 }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Aucune matière disponible</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Semestre 2</h3>
<table id="tableSemestre2" class="table-bordered">
    <thead>
        <tr>
            <th>Matière</th>
            <th>Crédit</th>
            <th>Note 1</th>
            <th>Note 2</th>
        </tr>
    </thead>
    <tbody>
        {% for matiere, notes in notes_semestre2.items %}
            <tr>
                <td>{{ matiere.name }}</td>
                <td>{{ matiere.credit }}</td>
                <td>{{ notes.0 }}</td>
                <td>{{ notes.1 }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Aucune matière disponible</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Inclure la bibliothèque SheetJS pour générer des fichiers Excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<!-- Inclure la bibliothèque excelJS pour générer des fichiers Excel avec mise en forme des cellules-->
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>

<script src="{% static 'javascript/etudiant_telecharger_notes.js' %}"></script>

<script>
    function ActiveLink() {
        var notesLink = document.getElementById('notes');
        notesLink.classList.add('active');
    }
    ActiveLink();
</script>

{% endblock content %}
