{% extends "base2.html" %}
{% load static %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'accueil_responsable' %}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{% url 'liste_etudiants' %}">Etudiants</a></li>
        <li class="breadcrumb-item active" aria-current="page">Envoyer message</li>
    </ol>

{% endblock breadcrumb %}

{% block content %}
    <h2 class="mb-4">Saisir le message à envoyer à {{etudiant.name}}</h2>

    <!-- Formulaire pour la modification d'un étudiant -->
    <form method='POST' enctype='multipart/form-data' class="form p-4 shadow-sm bg-light rounded">
        {% csrf_token %}
        {{form.as_p}}

        <!-- Fichier joint -->
        <div class="mb-3">
            <label for="fileInput" class="form-label" style="display:none;">Fichier joint</label>
            <input class="form-control" name="fichier" type="file" id="fileInput" multiple>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
{% endblock content %}
